<h1>新增看板</h1>

<%= render 'form', board: @board %>



<!-- form 預設method為get 預設action為"" -->
<!-- 不懂為什麼action要這樣設置 -->
<!-- <form action="/ccc" method="POST">  
    <input type="text" name="board[title]"> -->
<!-- <input type="text" name="authenticity_token"> -->
<!-- <form action="/" method="get"> -->
<!-- <button type="submit">送出</button>
</form> -->